In [ ]:
# Data enginieering cheatsheet

In [ ]:
# Tags
EDA

# References

In [ ]:
[Data enginieering cheatsheet](https://medium.com/geekculture/the-basics-of-a-jupyter-notebook-pandas-cheat-sheet-for-data-engineers-c1099791a93c)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
df = pd.read_csv('data/IMDB_Movie_Data.csv' ,sep=",")

In [4]:
# export df in a csv
df.to_csv('data/my_data.csv', index=False, header=True)

# Exploring data

In [ ]:
df.head()
df.tail()
df.sample(5)
df.shape
df.describe()
df.info()

# Statistics

In [ ]:
df.describe()
df.mean()
df.corr()
df.count()
df.max()
df.min()
df.median()
df.std()

# Import data from file

In [ ]:
# from csv
df = pd.read_csv('data/my_data.csv' ,sep=",")

# from excel
df = pd.read_excel('data/my_data.xlsx' ,sheetname='sheet1', skiprows=[1])

# Export data to files

In [ ]:
# export df in a csv
df.to_csv('data/my_data.csv', index=False, header=True)

# export df to excel
df.to_excel('data/my_data.xlsx')

# Column Manipulation

In [ ]:
df[['Title', 'Rating']]
df.filter(['Title', 'Rating'])

# Column Rename

In [ ]:
df.rename(columns={'Title':'a', 'Rating':'b'}, inplace=True)
df.rename(columns={'a':'Title', 'b':'Rating'}, inplace=True)

# Column Reorder

In [ ]:
# show column values
df.columns.values

# reorder
df[['Title', ....]]

# Adding a new column

In [ ]:
df['new column'] = 23
df['Rating_Votes'] = df.Rating + df.Votes

# Changing the type of the column

In [ ]:
df['Year_str'] = df['Year'].astype(str)
df['Year_int'] = df['Year_str'].astype(int)

# Double to int
df['Rating_int'] = df['Rating'].round(0).astype(int)

# String Manipulation

In [ ]:
df['Title_lower'] = df['Title'].str.lower()
df['Title_upper'] = df['Title'].str.upper()
df['Title_len'] = df['Title'].str.len()

# first word
df['Title_first_word'] = df['Title'].str.split('')[0]

# find word 'Squad' in the title
df['Title_squad'] = df['Title'].str.find('Squad', 0)

# Date manipulation

In [ ]:
pd.to_datetime('2020/10/13')

# Sort

In [ ]:
df.sort_values(by='Title', ascending=True)
df.sort_values(by=['Title', 'Year'], ascending=True)

# Row manipulation

In [ ]:
df[df.Title == 'Prometheus']
df[(df.Year == 1998 ) & (df.Rating > 8.5)]
titel = ['Prometheus', 'Song', 'Guardians of the Galaxy']
df[df.Title.isin(titel)]
# select rows 1:3
df.iloc[0:3]
# first 4 rows and first 2 columns
df.iloc[0:4, 0:3]

# Table Manipulation - groupby

In [ ]:
# nr of titles per year
df.groupby('Year')['Title'].count().to_frame()

# nr of titles per year and per director
df.groupby(['Year', 'Director'])['Title'].count().to_frame()

# Rating mean per Director
df.groupby('Director')['Rating'].mean().to_frame().rest_index()

# combination of different groups per functions

df.groupby(['Year', 'Director']).agg(
    {'Title':"count", # nr of titles per year and per director
     'Rating':"mean", # mean Rating per year and per director
     'Revenue (Millions)': "sum", # sum of revenue per year and per director
    }).reset_index()

# Table Manipulation - pivot

In [ ]:
# pivot over Director and mean over other columns
pd.pivot_table(df, index=['Director']).reset_index()

# pivot with sum
pd.pivot_table(df, index=['Director', 'Year'], values = ['Revenue (Millions)'], aggfunc=np.sum).reset_index()

# unpivot over years
pd.pivot_table(df, values = ['Rating'], columns =['Year']).reset_index()

df.melt(id_vars=['index'], var_name= 'Year', value_name='Title')

# Table Manipulation - join

In [ ]:
# create new dataframe df_dir_movies
df_dir_movies = df.groupby(["Director"])["Title"].count().to_frame(name = 'number of movies').reset_index()
    
# create new dataframe df_dir_rev
df_dir_rev = df.groupby(["Director"])["Revenue (Millions)"].sum().to_frame(name = 'Revenue').reset_index()

# join the dataframe df_dir_movies with df_dir_rev
# how = rigtht, left, inner or outer

pd.merge(df_dir_movies,df_dir_rev, left_on=['Director'], right_on=['Director'],how = 'left')

# Concatenate

In [ ]:
df.append(df2) # Append df2 to df (The columns must be the same in both dataframes)